<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
  th:replace="~{base::layout(~{::.container}, ~{::title}, ~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <body>
    <div class="container">
      <form th:action="@{/payment/create}" method="post">
        <th:block th:with="isEmpty=${@cartHelper.isCartEmpty()}">
            <div th:if="${isEmpty}">
                Add Items To The Cart To Proceed Further
            </div>
            <th:block th:unless="${isEmpty}" th:with="price=${@cartHelper.getTotalPrice()}">
                <div class="row">
                    <div class="col-md-6">
                        <div th:if="${#lists.isEmpty(address)}">
                            <p>No Addresses</p>
                        </div>
                        <div th:each="addr : ${address}">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="address" th:value="${addr.id}" id="flexRadioDefault1" required />
                            <div class="form-check-label" for="flexRadioDefault1">
                              <div class="card">
                                <div class="card-body">
                                  <h3 th:text="${addr.user.name}"></h3>
                                  <p th:text="${addr.street} + ',' + ${addr.city} + ',' + ${addr.state}" />
                                  <p th:text="${addr.phoneNumber}" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="/address" class="btn btn-danger btn-sm">Create</a>
                    </div>
                    <div class="col-md-6">
                              <h1>Cart Totals</h1>
                              <table class="table table-hover table-bordered">
                                <tbody>
                                  <tr>
                                    <td>Subtotal</td>
                                    <td th:text="'$' + ${price}"></td>
                                  </tr>
                                  <tr>
                                    <td>Delivery Fee</td>
                                    <td>5</td>
                                  </tr>
                                  <tr>
                                    <th>Total</th>
                                    <th th:text="'$' + ${price + 5}"></th>
                                  </tr>
                                </tbody>
                              </table>
                              <div>
                                  <input type="hidden" name="method" value="paypal" />
                                  <input type="hidden" name="amount" th:value="${price}" />
                                  <input type="hidden" name="currency" value="USD" />
                                  <input type="hidden" name="description" value="This Is Paypal" />
                                  <button type="submit" class="btn btn-danger btn-sm" th:unless="${#lists.isEmpty(address)}">Proceed To Payment</button>
                              </div>
                    </div>
                </div>
            </th:block>
        </th:block>
      </form>
    </div>
    <script></script>
  </body>
</html>
