<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
  th:replace="~{base::layout(~{::.container}, ~{::title}, ~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <body>
    <div class="container mx-auto">
        <div th:replace="~{fragments/message::message}"></div>
        <h1 class="text-3xl font-bold mb-5 mx-10 my-3">Your Orders</h1>
        <hr class="my-3 mx-10">
        <div th:if="${#lists.size(orders) == 0}" class="my-3 mx-10">
            No Orders
         </div>
         <div th:each="order, stat : ${orders}">
            <div class="card bg-base-100 shadow-xl my-3">
                <div class="card-body">
                    <div class="flex gap-3 justify-between items-center"> 
                      <div class="text-2xl">Order #<span th:text="${order.id}" class="uppercase font-bold"></span></div>
                        <div>
       
                               <th:block th:switch="${order.orderStatus}">
                                <th:block th:case="'processing'">
                                    <div class="badge p-4 rounded-xl bg-yellow-400 font-semibold">
                                        Processing
                                      </div>
                                </th:block>
                                <th:block th:case="'delivery'">
                                    <div class="badge p-4 rounded-xl bg-orange-500 font-semibold">
                                        Out For Delivery
                                      </div>
                                </th:block>
                                <th:block th:case="'delivered'">
                                    <div class="badge badge-success p-4 rounded-xl font-semibold">
                                        Delivered
                                      </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                  <div th:text="${order.orderCreated}" class="text-gray-400" />
                  <div th:text="${orderNames[stat.index]}" class="font-semibold text-violet-600" />
                  <div class="flex gap-3">
                    <img th:each="cartItem : ${order.cartItems}" class="shadow-lg border border-gray-400 rounded-md w-12 h-12 object-cover" th:src="${cartItem.food.image}" alt="" />
                  </div>
                  <div th:if="${order.deliveryAgent}">
                      Delivery Agent : <span th:text="${order.deliveryAgent.name}" class="font-bold"></span>
                  </div>
                  <div>
                    <a th:href="@{/orders/{id} (id=${order.id})}" class="btn btn-warning btn-sm mt-3">More Details</a>
                  </div>
                </div>
              </div>
         </div>
        <!-- <div th:each="order, stat : ${orders}">
            <div class="card my-3">
                <div class="card-body">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-1">
                            <img th:src="@{/images/icons/parcel_icon.png}" alt="">
                        </div>
                        <div class="col-md-5">
                            <div th:text="${orderNames[stat.index]}" />
                        </div>
                        <div class="col-md-1">
                            <div th:text="'$' + ${order.amount}" /> 
                        </div>
                        <div class="col-md-1">
                            <div th:text="'Items : ' + ${#lists.size(order.cartItems)}" />
                        </div>
                        <div class="col-md-2">
                            <div th:text="${order.orderStatus}" />
                        </div>
                        <div class="col-md-2">
                            <a th:href="@{/orders/{id}(id=${order.id})}" class="btn btn-danger btn-sm">More Details</a>
                        </div>
                    </div>
                </div>
              </div>
        </div> -->
    </div>
    <script></script>
  </body>
</html>
