<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
    th:replace="~{base::layout(~{::.container}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
</head>

<body>
    <div class="container mx-auto my-14" th:object="${order}">
        <div class="font-semibold text-2xl">Order Details</div>
        <div class="flex justify-between mt-2">
            <div th:text="'Ordered On : ' + *{orderCreated}"></div>
            <div>Order # <span th:text="*{id}" class="uppercase"></span></div>
        </div>
        <div class="card bg-base-100 w-auto shadow-xl my-10">
            <div class="card-body">
                <div class="flex justify-between">
                    <div>
                        <div class="font-bold text-lg">Shipping Address</div>
                        <div th:text="${order.address.firstName} + ' ' + ${order.address.lastName}"
                            class="fs-5 fw-bold" />
                        <div th:text="${order.address.street}" />
                        <div
                            th:text="${order.address.city} + ' ' + ${order.address.state} + ' ' + ${order.address.zipCode}" />
                        <div th:text="${order.address.country}"></div>
                        <div th:text="${order.address.phoneNumber}" />
                    </div>
                    <div class="">
                        <div class="font-bold text-lg">Payment Methods</div>
                        <div>Paypal</div>
                    </div>
                    <div>
                        <div class="font-bold text-lg">Order Summary</div>
                        <div th:text="'Items Amount : $' + ${order.amount - 5}" />
                        <div>Delivery Fee : $5</div>
                        <div th:text="'Total Amount : $' + ${order.amount}" class="font-bold" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 w-auto shadow-xl my-10">
            <div class="card-body">
                <div th:class="${order.deliveryAgent} ?  'grid md:grid-cols-[2fr_1fr]' : 'grid grid-cols-1'">
                    <div>
                        <th:block th:switch="*{orderStatus}">
                            <th:block th:case="'processing'">
                               <div class="font-bold text-2xl my-3 text-yellow-500">Processing</div>
                            </th:block>
                            <th:block th:case="'delivery'">
                                <div class="font-bold text-2xl my-3 text-orange-500">Out For Delivery</div>
                            </th:block>
                            <th:block th:case="'delivered'">
                                <div class="font-bold text-2xl my-3 text-green-500">Delivered</div>
                            </th:block>
                        </th:block>
        
                        <th:block th:with="items=${order.cartItems}">
                            <div th:each="item : ${items}" class="mb-10">
                                <div class="flex gap-3">
                                    <img th:src="${item.food.image}" alt="" class="h-40 w-40 object-cover shadow-xl rounded-md" />
                                    <div class="flex flex-col">
                                        <div th:text="${item.food.name}" class="text-xl font-bold" />
                                        <div th:text="'Quantity : ' + ${item.quantity}" />
                                        
                                        <div th:text="'Item Price : $' + ${item.food.price}" />
        
                                        <div th:text="'Total : $' + ${(item.food.price * item.quantity)}" class="font-bold mt-auto mb-2 text-xl" />
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${order.deliveryAgent}" class="mt-2">
                        <div class="px-3 mx-5 my-2">
                                    <div class="font-bold text-2xl my-2 text-center">Assigned Delivery Agent</div>
                                    <hr class="my-2" />
                                    <div class="flex flex-col items-center text-center gap-3 my-3 p-2">
                                        <img th:src="${order.deliveryAgent.userProfile.image}" class="rounded-full object-cover h-32 w-32 shadow-xl" alt="">
                                        <div>
                                            <div class="mt-2">
                                                <span th:text="${order.deliveryAgent.name}" class="font-bold text-xl"></span>
                                            </div>
                                            <div class="text-gray-400">
                                                <span th:text="${order.deliveryAgent.userProfile.phoneNumber}" class="font-medium"></span>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <script></script>
</body>

</html>