<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
th:replace="~{admin/layout/base::adminLayout(~{::div}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
</head>
<body>
    <div class="container mx-auto">
        <div class="card bg-base-100 max-w-[80rem] shadow-xl mx-10">
            <div class="card-body">
                <div class="text-xl font-semibold">Add New Food</div>
                <hr>
                <form th:action="@{/admin/add}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="img" class="form-label">Image</label>
                        <input type="file" name="image" id="img" class="block file-input file-input-bordered w-full" required />
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Item Name</label>
                        <input type="text" name="name" id="name" class="block input input-bordered w-full" placeholder="Enter Item Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Item Description</label>
                        <textarea class="block textarea textarea-bordered w-full" id="desc" name="description" rows="3" required placeholder="Enter Description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Product Category</label>
                        <select name="category" id="category" class="block select select-bordered w-full">
                            <option th:value="${category}" th:each="category : ${categories}" th:text="${category}" />
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="">Product Price</label>
                        <div class="mb-3 flex items-center">
                            <input type="number" name="price" class="block input input-bordered w-full" placeholder="Enter Price" required />
                        </div>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</body>
<script></script>
</html>