<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
th:replace="~{admin/layout/base::adminLayout(~{::.container}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <h1>Orders</h1>
            <hr>
            <div th:each="order, stat : ${orders}">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img th:src="@{/images/icons/parcel_icon.png}" alt="">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div th:text="${orderNames[stat.index]}" />
                                </div>
                                <div class="row">
                                    <div th:text="${order.address.firstName} + ' ' + ${order.address.lastName}" />
                                    <div th:text="${order.address.street} + ','"></div>
                                    <div th:text="${order.address.city} + ',' + ${order.address.state} + ',' + ${order.address.zipCode}"></div>
                                    <div th:text="${order.address.phoneNumber}" />
                                </div>
                            </div>
                            <div class="col">
                                <div th:text="'Items : ' + ${#lists.size(order.cartItems)}" />
                            </div>
                            <div class="col">
                                <form th:action="@{/admin/status}" method="post">
                                    <input type="hidden" name="orderId" th:value="${order.id}" />
                                    <select name="status" th:value="${order.orderStatus}" id="" class="form-select">
                                        <option th:value="processing" th:selected="${order.orderStatus=='processing'}">Food Processing</option>
                                        <option th:value="delivery" th:selected="${order.orderStatus=='delivery'}">Out For Delivery</option>
                                        <option th:value="delivered" th:selected="${order.orderStatus=='delivered'}">Delivered</option>
                                    </select>
                                    <button type="submit" class="btn btn-danger">Modify</button>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <script></script>
</body>
</html>