<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
th:replace="~{admin/layout/base::adminLayout(~{::.container}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
</head>
<body>
        <div class="container mx-auto">
            <div class="mx-10">
                <div class="text-2xl my-5 font-bold">Orders</div>
                <hr class="my-2">
                <div th:if="${#lists.size(orders) == 0}">No Orders</div>
            </div>
            <!-- <div th:each="order, stat : ${orders}">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img th:src="@{/images/icons/parcel_icon.png}" alt="">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div th:text="${orderNames[stat.index]}" />
                                </div>
                                <div class="row">
                                    <div th:text="${order.address.firstName} + ' ' + ${order.address.lastName}" />
                                    <div th:text="${order.address.street} + ','"></div>
                                    <div th:text="${order.address.city} + ',' + ${order.address.state} + ',' + ${order.address.zipCode}"></div>
                                    <div th:text="${order.address.phoneNumber}" />
                                </div>
                            </div>
                            <div class="col">
                                <div th:text="'Items : ' + ${#lists.size(order.cartItems)}" />
                            </div>
                            <div class="col">
                                <form th:action="@{/admin/status}" method="post">
                                    <input type="hidden" name="orderId" th:value="${order.id}" />
                                    <select name="status" th:value="${order.orderStatus}" id="" class="form-select">
                                        <option th:value="processing" th:selected="${order.orderStatus=='processing'}">Food Processing</option>
                                        <option th:value="delivery" th:selected="${order.orderStatus=='delivery'}">Out For Delivery</option>
                                        <option th:value="delivered" th:selected="${order.orderStatus=='delivered'}">Delivered</option>
                                    </select>
                                    <button type="submit" class="btn btn-danger">Modify</button>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
            </div> -->
            <div class="card bg-base-100 shadow-xl mx-16 my-10" th:each="order, stat : ${orders}">
                <div class="card-body">
                    <div class="md:flex md:items-center md:justify-between">
                        <div class="text-2xl">Order #<span th:text="${order.id}" class="uppercase font-bold"></span></div>
                        <div class="text-xl flex items-center gap-3">
                            <th:block th:switch="${order.orderStatus}">
                            <th:block th:case="'processing'">
                                <span class="text-rose-600 font-bold">
                                    Processing
                                  </span>
                            </th:block>
                            <th:block th:case="'delivery'">
                                <span class="font-bold text-orange-500">
                                    Out For Delivery
                                  </span>
                            </th:block>
                            <th:block th:case="'delivered'">
                                <span class="font-bold text-green-500">
                                    Delivered
                                </span>
                            </th:block>
                        </th:block>

                        <button class="btn btn-sm"  th:attr="onclick=|my_modal_3_${stat.index}.showModal()|"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                          </svg></button>
                        <dialog th:id="'my_modal_3_' + ${stat.index}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-md btn-circle btn-ghost absolute right-3 top-[14px]">✕</button>
                              </form>
                            <div class="text-xl font-bold">Modify Status</div>
                            <hr class="mt-3 mb-1">
                            <div class="py-2">
                                <form th:action="@{/admin/status}" method="post">
                                    <div class="grid grid-cols-2 items-center">
                                        <label for="" class="text-md my-3">Status </label>
                                        <input type="hidden" name="orderId" th:value="${order.id}" />
                                        <select name="status" th:value="${order.orderStatus}" id="" class="block select select-bordered select-sm w-full max-w-xs">
                                            <option th:value="processing" th:selected="${order.orderStatus=='processing'}">Food Processing</option>
                                            <option th:value="delivery" th:selected="${order.orderStatus=='delivery'}">Out For Delivery</option>
                                            <option th:value="delivered" th:selected="${order.orderStatus=='delivered'}">Delivered</option>
                                        </select>
                                    </div>
                                      <button type="submit" class="btn btn-error btn-sm">Modify</button>
                                      </form>
                            </div>
                        </div>
                        </dialog>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div>
                        <div>
                            <div id="content">
                                <div class="mb-2 flex gap-1 items-center">From User : <span th:text="${order.user.name}" class="italic font-bold" />
                                <th:block th:if="${#strings.equals(order.user.userProfile.gender, 'male')}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-gender-male" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8"/>
                                      </svg>
                                </th:block>
                                <th:block th:unless="${#strings.equals(order.user.userProfile.gender, 'male')}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#84cc16" class="bi bi-gender-female" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5"/>
                                      </svg>
                                </th:block>
                            
                                </div>
                                <div th:text="${orderNames[stat.index]}" class="font-semibold text-violet-500 text-lg"></div>
                            </div>
                            <div id="images" class="flex gap-3 mt-2">
                                <img th:each="cartItem : ${order.cartItems}" class="shadow-lg rounded-md w-12 h-12 object-cover" th:src="${cartItem.food.image}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    <script></script>
</body>
</html>