<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::.container}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <div class="container mx-auto" th:with="isEmpty=${@cartHelper.isCartEmpty()}">
        <!-- <th:block th:text="${session.isEmpty()} ? 'Yes' : 'No'">Yes</th:block> -->
         <!-- <hr>
         <div class="row">
           <div th:if="${isEmpty}">
               No Cart Items
           </div>
   
           <div class="table-responsive" th:unless="${isEmpty}">
               <table class="table table-striped table-hover table-bordered">
                   <thead>
                     <tr>
                       <th scope="col">Item</th>
                       <th scope="col">Title</th>
                       <th scope="col">Price</th>
                       <th scope="col">Quantity</th>
                       <th scope="col">Total</th>
                       <th scope="col">Remove</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr th:each="item : ${session.cart}">
                       <td>
                           <img th:src="${item.food.image}" height="50" width="50" alt="" />
                       </td>
                       <td th:text="${item.food.name}" />
                       <td th:text="${'$' + item.food.price}">@mdo</td>
                       <td>
                          <div class="d-flex align-items-center gap-2">
                            <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.food.id}" />
                              <input type="hidden" name="opt" value="incr" />
                              <button type="submit" class="btn btn-warning btn-sm"> + </button>
                            </form>
                            <span th:text="${item.quantity}"></span>
                            <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.food.id}" />
                              <input type="hidden" name="opt" value="decr" />
                              <button type="submit" class="btn btn-danger btn-sm"> - </button>
                            </form>
                          </div>
                       </td>
                       <td th:text="${'$' + item.totalAmount}"></td>
                       <td>
                         <form th:action="@{/removeItem}" method="post">
                           <input type="hidden" name="foodId" th:value="${item.food.id}" />
                           <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                         </form>
                       </td>
                     </tr>
                   </tbody>
                 </table>
           </div>
         </div>
         <th:block th:unless="${isEmpty}" th:with="price=${@cartHelper.getTotalPrice()}">
           <div class="row">
            <div class="col-md-6">
              <h1>Cart Totals</h1>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td>Subtotal</td>
                    <td th:text="'$' + ${price}"></td>
                  </tr>
                  <tr>
                    <td>Delivery Fee</td>
                    <td>$5</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <th th:text="'$' + ${price + 5}"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6"></div>
           </div>
           <div class="row">
            <div>
              <a href="/orders/placeOrder" class="btn btn-danger">Proceed To Checkout</a>
            </div>
           </div>
         </th:block> -->

         <div th:if="${isEmpty}">No Cart Items</div>
         <div th:unless="${isEmpty}" class="mx-10 mt-5">
          <div class="font-bold text-2xl">Food Bag</div>
          <div th:text="${#lists.size(session.cart)} + ' Items In Your Bag'"></div>

          <div id="layout" class="grid md:grid-cols-2 lg:grid-cols-[2fr_1fr] gap-20 mt-5">
            <div class="card bg-base-100 w-auto md:w-full shadow-xl">
              <div class="card-body">
                <div class="overflow-x-auto">
                  <table class="table table-xs table-pin-rows table-pin-cols">
                    <thead>
                      <tr>
                        <td>Product</td>
                        <td>Price</td>
                        <td class="ms-3">Quantity</td>
                        <td>Total</td>
                        <td>Options</td>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${session.cart}">
                        <td class="flex gap-4">
                          <div class="avatar">
                            <div class="rounded w-24">
                              <img th:src="${item.food.image}" />
                            </div>
                          </div>
                          <div class="">
                            <div th:text="${item.food.name}" class="font-bold text-lg" />
                            <div th:text="${item.food.category}" class=" text-gray-400 mt-2" />
                          </div>
                        </td>
                        <td th:text="${'$' + item.food.price}"></td>
                        <td>
                          <div class="flex items-center gap-2">
                            <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.food.id}" />
                              <input type="hidden" name="opt" value="incr" />
                              <button type="submit" class="btn btn-circle  btn-warning btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                </svg>
                              </button>
                            </form>
                            <div class="text-xl font-bold" th:text="${item.quantity}">0</div>
                            <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.food.id}" />
                                <input type="hidden" name="opt" value="decr" />
                                <button type="submit" class="btn btn-circle btn-sm btn-error">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                  </svg>
                                </button>
                            </form>
                          </div>
                        </td>
                        <td th:text="${'$' + item.totalAmount}" />
                        <td>
                          <form th:action="@{/removeItem}" method="post">
                            <input type="hidden" name="foodId" th:value="${item.food.id}" />
                            <button type="submit" class="btn btn-error btn-sm rounded-sm">Delete</button>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div th:with="price=${@cartHelper.getTotalPrice()}">
              <div class="card bg-base-100 w-auto md:w-full shadow-xl">
                <div class="card-body space-y-2">
                  <div class="font-bold text-2xl">Cart Total</div>
                  <hr>
                  <div class="flex justify-between items-center">
                    <div>Subtotal</div>
                    <div th:text="'$' + ${price}" />
                  </div>
                  <div  class="flex justify-between items-center">
                    <div>Delivery Fee</div>
                    <div>$5</div>
                  </div>
                  <div  class="flex justify-between items-center">
                    <div>Total</div>
                    <div th:text=" '$' + ${price + 5}" />
                  </div>
                  <div class="flex items-center justify-end mt-5">
                    <a th:href="@{/orders/placeOrder}" class="btn bg-black text-white font-bold text-xl">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>
    <script></script>
</body>
</html>