<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::div}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Items</title>
</head>

<body>
    <div class="grid grid-cols-[1fr_4fr] gap-5 bg-gray-100">
        <div id="menu" class="border-r">
            <!-- Filters -->
            <div class="card bg-base-100 w-auto shadow-xl m-10">
                <div class="card-body">
                    <!-- Content -->
                    <div class="text-2xl font-bold">Filter Products</div>
                    <hr />
                    <div id="categories-food">
                        <div class="all my-2 cursor-pointer text-lg">All</div>
                        <div th:each="i : ${#numbers.sequence(1, 8)}" class="category my-2 cursor-pointer text-lg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="items" class="container mx-auto overflow-hidden">
            <div class="mx-10">
                <div th:replace="~{fragments/message::message}"></div>
            </div>
            <div class="m-10">
                <div th:text="${#lists.size(foodItems)} + ' Items'" class="text-2xl font-semibold" />
                <hr class="mt-2">
            </div>
            <div class="grid grid-cols-1 gap-16 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 place-items-center m-10">
                <div class="card bg-base-100 w-96 shadow-xl" th:each="item : ${foodItems}">
                    <th:block th:with="hasItem=${@cartHelper.isItemInCart(item)}">
                        <figure class="relative">
                            <img th:src="${item.image}" alt="Shoes" class="object-cover w-full" />
                            <div th:if="${hasItem}" class="absolute bottom-0 right-0 flex items-center gap-2 mb-2 me-2">
                                <form th:action="@{/quantity}" method="post">
                                    <input type="hidden" name="foodId" th:value="${item.id}" />
                                    <input type="hidden" name="opt" value="incr" />
                                    <button type="submit" class="btn btn-circle btn-sm btn-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                        </svg>
                                    </button>
                                </form>
                                <div class="text-2xl font-bold dark:text-black" th:text="${@cartHelper.getItemQuantity(item)}">0</div>
                                <form th:action="@{/quantity}" method="post">
                                    <input type="hidden" name="foodId" th:value="${item.id}" />
                                    <input type="hidden" name="opt" value="decr" />
                                    <button type="submit" class="btn btn-circle btn-sm btn-error">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </figure>
                        <div class="card-body">
                            <div class="flex items-center justify-between">
                                <h2 class="card-title" th:text="${item.name}"></h2>
                                <img src="/images/icons/rating_starts.png" alt="" />
                            </div>
                            <p th:text="${item.description}"></p>
                            <div th:text="'$' + ${item.price}" class="text-2xl font-bold text-orange-600" />
                            <div class="card-actions justify-end" th:unless="${@roleHelper.isAgent(loggedUser)}">
                                <form th:action="@{/add-to-cart}" method="post">
                                    <input type="hidden" name="foodId" th:value="${item.id}" />
                                    <th:block th:if="${hasItem}">
                                        <a href="/cart" class="btn btn-warning btn-sm rounded-md">Go To Cart</a>
                                    </th:block>
                                    <th:block th:unless="${hasItem}">
                                        <button type="submit" class="btn btn-warning btn-sm rounded-md">Add To
                                            Cart</button>
                                    </th:block>
                                </form>
                                <form th:action="@{/items/buyItem}" method="POST">
                                    <input type="hidden" name="foodId" th:value="${item.id}" />
                                    <button type="submit" class="btn btn-success btn-sm rounded-md">Buy Now</button>
                                </form>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <script>

        function menu(id) {
            switch (id) {
                case 1:
                    return "Salad";
                case 2:
                    return "Rolls";
                case 3:
                    return "Deserts"
                case 4:
                    return "Sandwich"
                case 5:
                    return "Cake";
                case 6:
                    return "Pure Veg";
                case 7:
                    return "Pasta"
                case 8:
                    return "Noodles";
                default:
                    console.log("Invalid")
            }
        }

        let foodDivs = document.querySelectorAll("#menu .category");
        const allDiv = document.querySelector('.all');

        allDiv.addEventListener('click', () => {
            window.location.href = '/items';
        })

        foodDivs.forEach((foodDiv, idx) => {
            foodDiv.innerText = menu(idx + 1);

            let url = new URL(window.location.href);

            if (!url.searchParams.has('category')) {
                allDiv.classList.add('border-b');
                allDiv.classList.add('border-green-500')
            }

            if (url.searchParams.has('category') && url.searchParams.get('category') == menu(idx + 1)) {
                foodDiv.classList.add('border-b')
                foodDiv.classList.add('border-green-500')
            }

            foodDiv.addEventListener('click', () => {
                if (url.searchParams.has('category') && url.searchParams.get('category') == menu(idx + 1))
                    window.location.href = "/items"
                else
                    window.location.href = `/items?category=${menu(idx + 1)}`
            })

        })

        const content = document.getElementById("content");
        content.style.margin="0";
    </script>
</body>

</html>