<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
  th:replace="~{base::layout(~{::.container}, ~{::title}, ~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Form</title>
  </head>
  <body>
    <div class="container mx-auto">
      <div th:replace="~{fragments/message::message}"></div>

      <div class="text-2xl font-bold">Your Addresses</div>
      <hr>
      
      <div class="flex gap-5 mt-5 flex-wrap items-center justify-center lg:justify-start">
        <div class="card bg-base-100 w-96 h-auto shadow-xl hover:scale-95 transition-transform delay-75" id="address-card">
          <div class="card-body flex items-center justify-center cursor-pointer" th:data-url="@{/address/create}" onclick="redirectTo(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg text-xl text-red-500 w-24 h-24" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            <div>Add Address</div>
          </div>
        </div>
        <div class="card bg-base-100 w-96 h-auto shadow-xl" th:each="address : ${addresses}">
          <div class="card-body" th:object="${address}">
            <div>
               <span th:text="*{firstName} + '  ' + *{lastName}" class="font-bold text-xl" />
            </div>
            <div>
              <span th:text="*{street}" />
            </div>
            <div>
              <span th:text="*{city} + ' ' + *{state} + ' ' + *{zipCode}" />
            </div>
            <div>
              <span th:text="*{country}" />
            </div>
            <div>
              <span th:text="*{phoneNumber}" />
            </div>
            <div>
              <form th:action="@{/address/delete}" method="POST">
                <input type="hidden" name="addressId" th:value="*{id}" />
                <button type="submit" class="btn btn-sm  btn-error">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function redirectTo(element) {
          window.location.href = element.getAttribute('data-url')
        }
    </script>
  </body>
</html>
