<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
th:replace="~{agent/layout/base::agentLayout(~{::div}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Home</title>
</head>
<body>
    <div class="grid place-items-center items-start gap-10 m-10" >
        <div class="card bg-base-100 w-96 shadow-xl [&>*]:flex [&>*]:items-center [&>*]:gap-3 hover:scale-125 transition delay-75 cursor-pointer">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-aspect-ratio" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                <path d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0z"/>
              </svg>
              <a class="text-2xl font-bold">Order Handling</a>
            </div>
          </div>

    </div>
    <script>
    </script>
</body>
</html>