<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
    th:replace="~{agent/layout/base::agentLayout(~{::.container}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>

<body>
    <div class="container mx-auto my-10">
        <div class="mx-16 my-5">
            <div class="card bg-base-100 w-auto shadow-xl">
                <div class="card-body">
                    <div class="text-2xl">Order #<span th:text="${order.id}" class="uppercase font-bold text-red-700"></span></div>
                    <div class="text-xl flex items-center gap-3">
                        Status :
                        <th:block th:switch="${order.orderStatus}">
                            <th:block th:case="'processing'">
                                <span class="text-rose-600 font-bold">
                                    Processing
                                </span>
                            </th:block>
                            <th:block th:case="'delivery'">
                                <span class="font-bold text-orange-500">
                                    Out For Delivery
                                </span>
                            </th:block>
                            <th:block th:case="'delivered'">
                                <span class="font-bold text-green-500">
                                    Delivered
                                </span>
                            </th:block>
                        </th:block>
                    </div>

                    <hr class="my-2" />
                    <div class="grid gap-2 lg:grid-cols-2">
                        <div id="items">
                            <div class="text-2xl font-bold">Items</div>
                            <div id="images" class="">
                                <div th:each="cartItem : ${order.cartItems}" class="my-5">
                                    <div class="flex gap-2">
                                        <img class="shadow-lg rounded-md w-40 h-40 object-cover" th:src="${cartItem.food.image}"
                                            alt="" />
                                        <div id="info" class="flex flex-col">
                                            <div th:text="${cartItem.food.name}" class="font-bold text-2xl"></div>
                                            <div>Quantity : <span th:text="${cartItem.quantity}"></span></div>
                                            <div>Item Price : <span th:text="'$' + ${cartItem.food.price}"></span></div>
                                            <div class="mt-auto">Total Price : <span class="font-bold"
                                                    th:text="'$' + ${cartItem.food.price * cartItem.quantity}"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="order-summary">
                            <div class="text-2xl font-bold">Order Summary</div>
                            <div class="overflow-x-auto flex justify-center mt-5">
                                <table class="table border table-hover">
                                  <!-- head -->
                                  <tbody>
                                    <tr class="hover">
                                      <th>Items Amount</th>
                                      <td>$ <span th:text="${order.amount - 5}"></span></td>
                                    </tr>
                                    <tr class="hover">
                                        <th>Delivery Fee</th>
                                        <td>$5</td>
                                    </tr>
                                    <tr class="hover">
                                        <th>Total Amount</th>
                                        <td>$ <span th:text="${order.amount}" class="font-semibold"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>


                              <div class="mt-5">
                                <div class="text-2xl font-bold">
                                    Payment Status
                                </div>
                                <div class="overflow-x-auto flex justify-center mt-5">
                                    <table class="table table-hover border">
                                        <tbody>
                                            <tr class="hover">
                                                <th>Status</th>
                                                <td th:text="${order.paymentStatus ? 'Paid' : 'Not Paid'}" th:class="${order.paymentStatus ? 'text-green-500 italic font-semibold' : 'text-red-500 font-bold'}"></td>
                                            </tr>
                                            <tr class="hover">
                                                <th>Method</th>
                                                <td th:text="${order.paymentMethod}"></td>
                                            </tr>
                                            <tr class="hover" th:if="${order.paymentID}">
                                                <th>Payment ID</th>
                                                <td th:text="${order.paymentID}" class="font-semibold text-fuchsia-600" />
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              </div>
                        </div>
                    </div>
                    <hr class="mt-1 mb-2" />
                    <div id="order-info" th:object="${order}">
                        <div class="font-bold text-2xl my-2">Shipment Details</div>
                        <div th:object="${order.address}">
                            <div class="flex flex-col gap-3 p-5">
                                <div>
                                    <span th:text="*{firstName} + '  ' + *{lastName}" class="font-bold text-xl" />
                                </div>
                                <div>
                                    <span th:text="*{street}" />
                                </div>
                                <div>
                                    <span th:text="*{city} + ' ' + *{state} + ' ' + *{zipCode}" />
                                </div>
                                <div>
                                    <span th:text="*{country}" />
                                </div>
                                <div>
                                    <span class="font-semibold" th:text="*{phoneNumber}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex gap-3 items-center">
                            <button th:unless="${#strings.equals(order.orderStatus, 'delivered')}" onclick="my_modal_3.showModal()" class="btn btn-md btn-accent"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>Review Order</button>
                            <a th:href="@{/delivery/orders}" class="btn btn-md btn-info">Go Back</a>
                        </div>
                        <dialog id="my_modal_3" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-md btn-circle btn-ghost absolute right-3 top-[14px]">✕</button>
                              </form>
                            <div class="text-xl font-bold">Review Order</div>
                            <hr class="mt-3 mb-1">
                            <div class="py-2">
                                <form th:action="@{/delivery/status}" method="post">
                                    <div class="grid grid-cols-2 items-center">
                                        <label for="" class="text-md my-3">Status </label>
                                        <input type="hidden" name="orderId" th:value="${order.id}" />
                                        <select name="status" th:value="${order.orderStatus}" id="" class="block select select-bordered select-sm w-full max-w-xs">
                                            <option th:value="processing" th:selected="${order.orderStatus=='processing'}">Food Processing</option>
                                            <option th:value="delivery" th:selected="${order.orderStatus=='delivery'}">Out For Delivery</option>
                                            <option th:value="delivered" th:selected="${order.orderStatus=='delivered'}">Delivered</option>
                                        </select>
                                    </div>
                                      <button type="submit" class="btn btn-success btn-sm">Modify</button>
                                      </form>
                            </div>
                        </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <script></script>
</body>

</html>