<div th:fragment="incdec(item)">

  <form th:action="@{/quantity}" method="post">
    <input type="hidden" name="foodId" th:value="${item.id}" />
    <input type="hidden" name="opt" value="incr" />
    <button type="submit" class="btn btn-warning btn-sm"> + </button>
  </form>
  <!--  -->
  <span th:text="${@cartHelper.getItemQuantity(item)}" />
  <!--  -->
  <form th:action="@{/quantity}" method="post">
    <input type="hidden" name="foodId" th:value="${item.id}" />
    <input type="hidden" name="opt" value="decr" />
    <button type="submit" class="btn btn-danger btn-sm"> - </button>
  </form>
</div>
  

<!-- <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.id}" />
                              <input type="hidden" name="opt" value="incr" />
                              <button type="submit" class="btn btn-warning btn-sm"> + </button>
                            </form>
                            <span th:text="${item.quantity}"></span>
                            <form th:action="@{/quantity}" method="post">
                              <input type="hidden" name="foodId" th:value="${item.id}" />
                              <input type="hidden" name="opt" value="decr" />
                              <button type="submit" class="btn btn-danger btn-sm"> - </button>
                            </form> -->