<th:block th:fragment="inc-dec">
    <form th:action="@{/quantity}" method="post">
        <input type="hidden" name="foodId" th:value="${item.food.id}" />
        <input type="hidden" name="opt" value="incr" />
        <button type="submit" class="btn btn-warning btn-sm"> + </button>
      </form>
      <span th:text="${item.quantity}"></span>
      <form th:action="@{/quantity}" method="post">
        <input type="hidden" name="foodId" th:value="${item.food.id}" />
        <input type="hidden" name="opt" value="decr" />
        <button type="submit" class="btn btn-danger btn-sm"> - </button>
      </form>
</th:block>