<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
  th:replace="~{base::layout(~{::div})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Demo</title>
  </head>
  <body>
    <div class="container">
      <!-- <p sec:authentication="principal.username" /> -->
      <div sec:authorize="isAuthenticated()">
        <p sec:authentication="name"></p>
      </div>
      <p>LOL</p>
    </div>
  </body>
</html>
