<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment= "nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/items">Home</a>
          </li>
          <li class="nav-item" th:if="${loggedUser}">
            <a class="nav-link" href="/orders">Your Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <div class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart 
              <th:block th:if="${session.cart == null || #lists.size(session.cart) == 0}">
                <span class="badge rounded-pill text-bg-danger">0</span>  
              </th:block>
              <th:block th:unless="${session.cart == null || #lists.size(session.cart) == 0}">
                <span class="badge rounded-pill text-bg-danger" th:text="${#lists.size(session.cart)}">0</span>
              </th:block>
              </a>
          </li>
          <th:block th:unless="${loggedUser}">
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
          </th:block>
          <th:block th:if="${loggedUser}">
            <li class="nav-item">
              <a href="/profile" class="nav-link">
                <img th:src="${loggedUser.userProfile.image}" height="30" width="30" alt="" class="object-fit-cover rounded" />
                <span class="fw-bold" th:text="${loggedUser.name}"></span></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          </th:block>
        </div>

      </div>
    </div>
  </nav>